@model OldBLOG.Models.HomeViewModels.AuthorViewModel
@using PagedList.Core.Mvc
@{
	Layout = "_HomeLayout";
	ViewData["HeaderImage"] = $"../../UserFiles/Users/{Model.Author.Id}/HeaderImage.jpg";
	ViewData["HeaderTitle"] = $"{Model.Author.FirstName} {Model.Author.LastName}";
	ViewData["SubHeader"] = Model.Author.SubHeader;
}

<style>
	.fixed-height-img {
		height: 180px; /* Adjust as needed */
		width: auto;
		object-fit: cover; /* This will make sure your images are scaled nicely */
	}

	.fixed-height-card {
		height: 120px; /* Adjust as needed */
		overflow: auto; /* Add a scrollbar if the content is too long */
	}

	.btn:hover {
		background-color: green; /* Change to desired hover color */
		color: white; /* Change text color on hover */
	}
</style>

<!--Display posts-->
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				@Html.Raw(Model.Author.AboutContent)
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">

				<img class="card-img-top" src="~/assets/img/ICPC.png" alt="ICPC Certification" style="border: 1px solid black; max-width: 70%; margin-top: 30px; margin-bottom: 30px; display: block; margin-left: auto; margin-right: auto;">

				<div class="row">
					<!-- Certificate 1 -->
					<div class="col-lg-4 col-md-4 mb-4">
						<div class="card" style="width: 18rem; margin-top: 20px; margin-bottom: 20px">
							<img class="card-img-top fixed-height-img" src="~/assets/img/machinelearning.png" alt="Certificate Image">
							<div class="card-body d-flex flex-column justify-content-center">
								<h5 class="card-title text-center">Machine Learning Specialization</h5>
								<p class="card-text text-center">Coursera - Stanford University</p>
								<a href="https://coursera.org/share/7b9523222dc1cf87604d3d12db3c32ad" class="btn btn-primary">View Certificate</a>
							</div>
						</div>
					</div>

					<!-- Certificate 2 -->
					<div class="col-lg-4 col-md-4 mb-4">
						<div class="card" style="width: 18rem; margin-top: 20px; margin-bottom: 20px">
							<img class="card-img-top fixed-height-img" src="~/assets/img/gamedev.png" alt="Certificate Image">
							<div class="card-body d-flex flex-column justify-content-center">
								<h5 class="card-title text-center">Game Development Specialization</h5>
								<p class="card-text text-center">Coursera - University of Colorado</p>
								<a href="https://coursera.org/share/bbc0155cb6e0f0ba7b23e17e08ae108e" class="btn btn-primary">View Certificate</a>
							</div>
						</div>
					</div>

					<!-- Certificate 3 -->
					<div class="col-lg-4 col-md-4 mb-4">
						<div class="card" style="width: 18rem; margin-top: 20px; margin-bottom: 20px">
							<img class="card-img-top fixed-height-img" src="~/assets/img/penn.png" alt="Certificate Image">
							<div class="card-body d-flex flex-column justify-content-center">
								<h5 class="card-title text-center">Computational Thinking for Problem Solving</h5>
								<p class="card-text text-center">Coursera - University of Pennsylvania</p>
								<a href="https://coursera.org/share/d97d3b4ec4dfc486811c583d8750f21e" class="btn btn-primary">View Certificate</a>
							</div>
						</div>
					</div>
				</div>
				<hr />
				
				<!-- Search bar -->
				<div class="row justify-content-center mb-4">
					<div class="col-md-6 text-center">
						<form asp-controller="Home" asp-action="Author" class="form-inline justify-content-center">
							<input name="AuthorId" hidden readonly value="@Model.Author.Id" />
							<input asp-for="SearchString" type="text" class="form-control mr-sm-2" placeholder="Search posts for..." />
							<button type="submit" class="btn btn-outline-success ml-sm-2" style="margin-top: 10px; padding-top: 10px; padding-bottom: 10px; background-color: greenyellow; border-radius: 10px">Search</button>
						</form>
					</div>
				</div>

				<div class="row align-content-center">
					@foreach (var post in Model.Posts)
					{
						<div class="col-lg-4 col-md-3 mb-4">
							<div class="card border-0 shadow">
								<img src="~/UserFiles/Posts/@post.Id/HeaderImage.jpg" class="card-img-top fixed-height-img" />
								<div class="card-body fixed-height-card">
									<div class="row text-center" style="margin: 0px auto 10px 0px;">
										<h5 class="card-title text-center w-100"><a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a></h5>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
				<!-- Button to go Prev, Next 
				<div class="row justify-content-center mt-4">
					<div class="col-2 text-center">
						<pager class="pager-controller" list="@Model.Posts" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" asp-action="Index" asp-controller="Home" asp-route-query="@Model.SearchString"></pager>
					</div>
				</div>-->

			</div>
		</div>
	</div>
</article>

