@model OldBLOG.Models.AdminViewModels.IndexViewModel

<style>
	.fixed-height-img {
		height: 200px; /* Adjust as needed */
		width: auto;
		object-fit: cover; /* This will make sure your images are scaled nicely */
	}

	.fixed-height-card {
		height: 150px; /* Adjust as needed */
		overflow: auto; /* Add a scrollbar if the content is too long */
	}
</style>

<div class="container-fluid">
	<h1 class="mt-4" style="margin-bottom: 40px">Dashboard</h1>

	<div class="row">
		@foreach (var post in Model.Posts)
		{
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card border-0 shadow">
					<img src="~/UserFiles/Posts/@post.Id/HeaderImage.jpg" class="card-img-top fixed-height-img" />

					<div class="card-body fixed-height-card">
						<div><h5 class="card-title mb-0">@post.Title</h5></div>
						<div class="d-flex justify-content-end">
							<i class="fas @(post.Published ? "fa-eye" : "fa-eye-slash")" style="color: @(post.Published ? "deepskyblue" : "orangered")"></i>
						</div>

						<div class="d-flex justify-content-between ml-0">
							<div>
								<span><i class="fas fa-calendar-alt" style="color: gray"></i></span>
								<p class="text-muted d-inline-block mb-0" style="margin-left: 20px;">Last updated on: @post.UpdatedOn.ToString()</p>
							</div>
						</div>

						<div class="d-flex justify-content-between ml-0">
							<div>
								<span><i class="fas fa-comment" style="color: gray"></i></span>
								<p class="text-muted mb-0 d-inline-block" style="margin-left: 20px;">@post.Comments.Count() comment(s)</p>
							</div>
						</div>

					</div>

					<div class="card-footer">
						<div class="row">
							<div class="col">
								<a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id" class="btn btn-primary">
									<i class="fa fa-arrow-circle-right"></i> View
								</a>
							</div>

							<div class="col">
								<a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-secondary">
									<i class="fa fa-edit"></i> Edit
								</a>
							</div>

							<div class="col">
								<form asp-controller="Post" asp-action="Delete" method="post">
									<input type="hidden" name="id" value="@post.Id" />
									<button type="submit" class="btn btn-danger float-right">
										<i class="fa fa-trash"></i> Delete
									</button>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>