@model OldBLOG.Models.AdminViewModels.IndexViewModel
<div class="container-fluid">
	<h1 class="mt-4">Dashboard</h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item active">Dashboard</li>
	</ol>
	<div class="row">
		@foreach (var post in Model.Posts)
		{
			<div class="col-xl-4 col-md-6 mb-4">
				<div class="card border-0 shadow">
					<img src="~/UserFiles/Posts/@post.Id/HeaderImage.jpg" class="card-img-top" />
					
					<div class="card-body">
						<div><h5 class="card-title mb-0">@post.Title</h5></div>
						<div class="d-flex justify-content-end">
							<i class="fas @(post.Published ? "fa-eye" : "fa-eye-slash")" style="color: @(post.Published ? "deepskyblue" : "orangered")"></i>
						</div>

						<div class="d-flex justify-content-between ml-0">
							<div>
								<span><i class="fas fa-calendar-alt" style="color: gray"></i></span>
								<p class="text-muted d-inline-block mb-0" style="margin-left: 20px;">Last updated on: @post.UpdatedOn.ToString()</p>
							</div>
						</div>

						<div class="d-flex justify-content-between ml-0">
							<div>
								<span><i class="fas fa-comment" style="color: gray"></i></span>
								<p class="text-muted mb-0 d-inline-block" style="margin-left: 20px;">@post.Comments.Count() comment(s)</p>
							</div>
						</div>

					</div>

					<div class="card-footer">
						<div class="row">
							<div class="col">
								<a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id" class="btn btn-primary">
									<i class="fa fa-arrow-circle-right"></i> View
								</a>
							</div>

							<div class="col">
								<a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-secondary">
									<i class="fa fa-edit"></i> Edit
								</a>
							</div>

							<div class="col">
								<a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-danger float-right">
									<i class="fa fa-trash"></i> Delete
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>